<!-- <h2 style="text-align: center;">Hospital Name</h2>
<h4 style="text-align: center;"> <b>Address:</b>Shri Krishna Dental Clinic, <br>Shop Bo 6,A Wing 2nd Floor,<br> Gajanan Galaxy, Narayan Bapu Nagar, <br>Jail Road, Nashik, Maharashtra, India</h4>

<hr> -->

<!------ Include the above in your HEAD tag ---------->

<div style=" border: double;">
    <div class="row">
        <div class="col-xs-12">
    		<div style="text-align: center;" class="invoice-title">
                <h2 >Hospital Name</h2>
                <p>Phone No.9087654321</p>
            </div>
           
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Patient Name:</strong>John Smith<br>
                    <strong>Mobile No.:</strong>9708432434
    				</address>
                </div>
                
    			<div class="col-xs-6 text-right">
    				<address>
                        <strong>Doctor Name: Dr.s</strong>John Smith<br>
                        <strong>Mobile No.:</strong>9708432434
    				</address>
    			</div>
            </div>
            <hr>
            <div class="col-xs-12">
                <div style="text-align: center;" >
                    <h3>Prescription</h3>
                    
                </div>
            </div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
                        <strong>Date:</strong>27-May-2020<br>
                        <strong>Compliant:</strong>Bleeding Gums<br>
                        <strong>Treatment Done:</strong>Treatment Done By doctor<br>
                        <strong>Details:</strong>Treatment Done By doctor<br>
    				</address>
    			</div>
                <div class="col-xs-6 text-right">
    				<address>
                        <strong>Treatment Advice:</strong>Advice Done By doctor<br>
                        <strong>Next Follow up date:</strong>Sunday May 21 2020 <br>
                        <strong>Time:</strong> 12:00AM<br>
    				</address>
    			</div>
    		
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Medicine List</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Medicine</strong></td>
        							<td class="text-center"><strong>Dosage</strong></td>
        							<td class="text-center"><strong>Duration</strong></td>
        							
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td class="text-center">AYURVED KIT</td>
    								<td class="text-center">1-0-0</td>
    								<td class="text-right">4 days</td>
    							</tr>
                                <tr>
    								<td class="text-center">Cap mylecob</td>
    								<td class="text-center">1-0-1</td>
    								<td class="text-right">4 days</td>
                                </tr>
                                
    						</tbody>
                        </table>
                        <div class="col-xs-12 text-right">
                            <address>
                                <br><br>
                                <strong>-------------------------------</strong><br>
                                <p>Authorized Sign</p> 
                                
                            </address>
                        </div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>