

<!--------------------------------------------------------------------start of Toolbar------------------------------------------------>
<mat-toolbar color="primary" class="mat-elevation-z8" style="background-color:#333">

  <a mat-button (click)="opened=!opened"><i class="material-icons">menu</i></a>  
     
  <div class="spacer">  </div>
  
  <div class="spacer">  </div>
  <div class="spacer">  </div>
  
  <!-- <a mat-raised-button class="btn btn-default" (click)="opened=!opened">My Profile</a> -->
  
  </mat-toolbar>
  
  <!--------------------------------------------------------------------End of Toolbar------------------------------------------------>
  
  
  <mat-sidenav-container>
  <!--------------------------------------------------------------------Start of SideNav(My profile)------------------------------------------------>
      <mat-sidenav mode="over" [(opened)]="opened"  style="animation: gen_css_kf_24 400ms linear 0ms 1 normal forwards running;">
        <nav class="ts-sidebar">
            <ul class="ts-sidebar-menu">
              
              <li class="ts-label">Main</li>
              <li (click)="openDialog()"> New Patient</li>
          
              <li><i class="fa fa-desktop"></i> Finder</li>
              <li><i class="fa fa-desktop"></i> Calender</li>
              <li><i class="fa fa-desktop"></i> Reports</li>
              <li><i class="fa fa-desktop"></i> WhatsApp Messages</li> 
              <li><i class="fa fa-desktop"></i> Patient folder</li>
              <li><i class="fa fa-desktop"></i> Dental awareness</li>
              <li><i class="fa fa-desktop"></i> Before and After</li>
              <li><i class="fa fa-desktop"></i> Prescription Templets</li>
              <li><i class="fa fa-desktop"></i> Mebership Plans</li>
              <li><i class="fa fa-desktop"></i> Daily Planner</li>
              <li><i class="fa fa-desktop"></i> settings</li>
                 
            </ul>
        
        
          </nav>
      </mat-sidenav>
  <!--------------------------------------------------------------------End of SideNav(My profile)------------------------------------------------>
  
  
  
  
  <mat-sidenav-content>
         <!--------------------------------------------------------------------Start of Panel------------------------------------------------>
  
              <div class="panel" >
       <!--------------------------------------------------------------------Start of Casepaper------------------------------------------------>
     <div class="sticky" style="position:sticky;top:40%;left:0;">
        <div id="mynav" class="sidenav">
          <a mat-button (click)="opened=!opened" id="profile">Profile Page<i class="material-icons" style="padding-left:7px;">account_box</i></a>
        </div>
    </div>
    
                  <div class="panel-heading" style="border-style: solid;font-family:serif;font-weight:bold;font-size:22px;background-color:#f5f5f5;padding-left:1%;">Casepaper  
                  </div>
                      <div class="panel-body"style="overflow-y: scroll;border-style: solid;height: 50%;" id="casepaper"  >
                    
                          <table id="example" class="table table-striped table-bordered">
                              <thead>
                                  <tr>
                                      <th>Date</th>
                                      <th>Chief Complaints</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr *ngFor="let c of cheifcomp">
                                      <td>{{c.date}}</td>
                                      <td>{{c.complain}}</td>
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th>Date</th>
                                      <th>Chief Complaints</th>
                                  </tr>
                              </tfoot>
                          </table>
                   
   
              </div> <!-- End OF Case Paper body -->  
            
                  <div class="panel-heading" style="border-style: solid;font-family:serif;font-weight:bold;font-size:22px;margin-top:15px;background-color:#f5f5f5;padding-left:1%;">Work Done
          </div>
                   <!--------------------------------------------------------------------Start of Work Done------------------------------------------------>
                      <div class="panel-body" id="work-done" style="overflow-y: scroll;border-style: solid;height: 50%;margin-top:-2px">
                            
  
                          <table id="example1" class="table table-striped table-bordered">
                              <thead>
                                  <tr>
                                     <th>Date</th>
                                     <th>Treatment Done</th>
                                     <th> Details</th>
                                     <th>Treatment Advised</th>
                                     <th>Paid</th>
                                     <th>Balance</th>
                                     <th>Prescription</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let c of workdone">
                                  <td>{{c.date}}</td>
                                  <td>{{c.treatDone}}</td>
                                  <td>{{c.details}}</td>
                                  <td>{{c.advised}}</td>
                                  <td>{{c.paid}}</td>
                                  <td>{{c.balance}}</td>
                                  <td>{{c.prescription}}</td>
                              </tr>
                              
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th><a mat-raised-button class="btn btn-primary" style="width:100%" color="primary" >Prescription</a></th>
                                     <th><a mat-raised-button class="btn btn-accent" style="width:100%"  color="primary"(click)="openBill()" >Bill</a></th>
                                     <th> <a mat-raised-button class="btn btn-default" style="width:100%"  color="primary"(click)="openAppointAdd()" >Next appointment</a></th>
                                     <th><a mat-raised-button class="btn btn-danger"style="width:100%"  color="primary">Follow Up</a></th>
                                     
                                     
                                  </tr>
                              </tfoot>
                          </table>
                         
  
                      </div> <!-- End OF Work done body -->
              </div> <!--End of Panel-->
             
  </mat-sidenav-content>