*{
    margin: 0;
    padding: 0;
    }
    .panel{
        width: 100%;
        height: 100vh;
        background-image:linear-gradient(0deg,#ffff 50%,#ffffff 50%)
    }
    #casepaper{
        border: black;
        height: 60%;
        padding:30px;
        
    }
    #work-done{
        border: black;
        height: 40%;
        margin-top: 10px;
        padding:30px;
    }
    .col-xs-6 {
        padding-top: 20px;
      }
      
      #mynav a
      {
          position:absolute;
          left:-160px;
          transition:0.3s;
          padding:15px;
          width:200px;
          text-decoration:none;
          font-size:20px;
          color:white;
          border-radius:0 5px 5px 0;
          text-align:right;
      }
    #mynav a:hover
    {
        left:0;
    }
    #profile
    {
        
        background-color:black;
    }


    .ts-sidebar::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .ts-sidebar::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    .ts-sidebar::-webkit-scrollbar-thumb {
      background-color: #b4b4b4;
    }
    .ts-sidebar {
      background: #2c3136;
      max-height: 0;
      transition: max-height 0.3s;
      overflow: hidden;
      position: fixed;
      z-index: 2;
      width: 20%;
      bottom: 0;
      top: 60px;
      overflow-y: auto;
    }
    .ts-sidebar .hidden-side {
      display: none;
    }
    .ts-sidebar .ts-sidebar-search {
      width: 100%;
      background: #25292a;
      border: none;
      padding: 10px 15px;
      color: #fff;
    }
    @media only screen and (min-width: 992px) {
      .ts-sidebar .ts-profile-nav {
        display: none;
      }
    }
    @media only screen and (min-width: 992px) {
      .ts-sidebar {
        max-height: 100%;
        bottom: 0;
      }
    }
    .ts-sidebar-menu .ts-label {
      color: #585c64;
      font-weight: bold;
      padding: 8px 15px;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 3px;
      margin-top: 10px;
    }
    .ts-sidebar-menu li {
      display: block;
      text-decoration: none;
      padding: 12px 15px;
      color: #fff;
    }
    .ts-sidebar-menu li {
      position: relative;
    }
    .ts-sidebar-menu li i {
      color: #585c64;
      margin-right: 10px;
    }
    .ts-sidebar-menu li ul {
      display: block;
      background: rgba(255, 0, 0, 0.12);
      background: rgba(0, 0, 0, 0.32);
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .menu-open,
    .ts-sidebar-menu .open > ul {
      max-height: 2000px;
    }
    .ts-sidebar-menu .open > a {
      background: rgba(51, 56, 62, 0.35);
    }
    .ts-sidebar-menu > .open > a {
      background: #33383e;
      border-left: 3px solid #37a6c4;
    }
    .ts-sidebar-menu .open > .more i {
      transform: rotate(180deg);
    }
    .more i {
      color: #fff;
      padding: 15px;
      transition: transform 0.3s;
    }
   
    @media only screen and (min-width: 992px) {
      .ts-main-content .ts-sidebar {
        width: 250px;
        float: left;
      }
    }