<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
      
      <li class="ts-label">Main</li>
      <li  (click)="openDialog()"><i class="fa fa-desktop"></i> New Patient</li>
  
      <li><i class="fa fa-desktop"></i> Finder</li>
      <li><i class="fa fa-desktop"></i> Calender</li>
      <li><i class="fa fa-desktop"></i> Reports</li>
      <li><i class="fa fa-desktop"></i> WhatsApp Messages</li> 
      <li><i class="fa fa-desktop"></i> Patient folder</li>
      <li><i class="fa fa-desktop"></i> Dental awareness</li>
      <li><i class="fa fa-desktop"></i> Before and After</li>
      <li><i class="fa fa-desktop"></i> Prescription Templets</li>
      <li><i class="fa fa-desktop"></i> Mebership Plans</li>
      <li><i class="fa fa-desktop"></i> Daily Planner</li>
      <li><i class="fa fa-desktop"></i> settings</li>
         
    </ul>


  </nav>